.thin-scrollbar::-webkit-scrollbar {
  width: 10px;
}
/*定义滚动条样式（高宽及背景）*/
.thin-scrollbar::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
  height: 10px;
  /* background: gray; */
}
/*定义滚动条轨道（凹槽）样式*/
.thin-scrollbar::-webkit-scrollbar-track {
  border-radius: 3px;
  /* background: rgba(0, 0, 0, 0.1); */
}
/*定义滑块 样式*/
.thin-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  height: 100px; /* 滚动条滑块长度 */
  background: rgba(0, 0, 0, 0.2);
}
