/* 设置滚动条的样式 */
.thin-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* 滚动槽 */
.thin-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* 滚动条滑块 */
.thin-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(17, 16, 16, 0.13);
    -webkit-box-shadow: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.5);
}

.thin-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(211, 173, 209, 0.4);
}